        #head {
            position: relative;
            background-color: white;
            min-width: 1250px;
            min-height: 600px;
            height: 100vh;
        }

        .top {
            margin-top: 20px;
            margin-left: 15px;
            display: block;
        }


        .top_left a {
            float: left;
            margin-right: 30px;
        }

        

        .font_style {
            font-family: "PingFang SC", Arial, "Microsoft YaHei", sans-serif;
            text-decoration: none;
            font-size: 13px;
            line-height: 23px;
            color: #222;
        }

        .top_right a {
            float: right;
            margin-right: 30px;
        }

        #btn1{
            color: red;
        }

        #btn1:hover{
            color: blue;
        }

        a:link {
            color: #222;
        }

        a:visited {
            color: #222;
        }

        a:hover {
            color: blue;
        }
        
        .top::after {
            content: "";
            clear: both;
            display: block;
        }


        .search {
            position: absolute;
            margin-top: 30px;
            left: 50%;
            transform: translate(-50%);
        }

        .search img {
            position: relative;
            height: 129px;
            width: 270px;
            left: 50%;
            transform: translate(-50%);
        }

        .search {
            height: 220px;
            width: 700px;
        }

        #form {
            list-style: none;
            margin: 20px;
            padding: 0;
            font-size: 0;
            display: block;
            height: 44px;
            left: 50%;
        }

        .search_input input {
            vertical-align: top;
            border: 2px solid rgb(160, 159, 159);
            border-radius: 10px 0px 0px 10px;
            font-size: 16px;
            outline: none;
            height: 40px;
            width: 542px;
            margin: 0;
            padding: 0px;
            text-indent: 15px;
        }

        .search_input input:hover {
            border: 2px solid grey;
        }

        .search_input input:focus {
            border: 2px solid blue;
            text-indent: 15px;
        }

        .search_btn {
            margin-left: -2px;
        }

        .search_btn input {
            vertical-align: top;
            cursor: pointer;
            height: 44px;
            width: 108px;
            line-height: 45px;
            background-color: #4e6ef2;
            border-radius: 0 10px 10px 0;
            border: none;
            box-shadow: none;
            font-size: 17px;
            color: white;
            outline: none;
            margin: 0;
            padding: 0px;
        }

        .search_btn input:hover {
            background-color: #4662d9;
            border: none;
        }